.sqlite3
__pycache__
.vscode
.DS_Store
.env
*.pyc
node_modules
npm-debug.log
*.DS_Store
/assets/bundles/*
/assets/webpack_bundles/*
/webpack-stats.json
/jquery-webpack-stats.json
/venv/
/env/
/output/
/cache/
*.py[cod]
*$py.class